* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-size: 18px;
    font-weight: 400, 700;
}

.main_ {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1 {
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(322, 100%, 98%);
    width: 100%;
    height: 1050px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.Try {
    background-color: #fff;
    width: 130px;
    border-radius: 17px;
    border: none;
    font-size: 1.1em;
    font-weight: 700;
    box-shadow: 0 0 4px rgb(168, 162, 162);
}

button:hover {
    color: #416067;
}

.huddle {
    display: flex;
    justify-content: space-between;
    height: 660px;
    margin-top: 160px;
}

.build {
    border: solid;
    height: 30%;
    margin-right: 100px;
}

.comminuty {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 60px;
    width: 50%;
}

.imag_mocku {
    margin-right: 60px;
}

.comminuty h1 {
    font-size: 5em;
    font-weight: 600;
    color: rgb(7, 58, 58);
    margin: 40px 0;
}

.comminuty p {
    font-size: 29px;
    line-height: 1.4;
}

.Started {
    border: none;
    background-color: #FF5CC6;
    color: #fff;
    width: 280px;
    height: 60px;
    border-radius: 70px;
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
}

.Started:hover {
    background-color: #FE7ED3;
    color: #fff;
}

.bouton {
    display: flex;
    justify-content: start;
    align-items: start;
}


.Together {
    border: none;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 700px;
    border-radius: 20px;
    padding-left: 58px;
    box-shadow: 0 0 10px rgb(246, 238, 238);
    margin: auto;

}

.Flowing {
    border: none;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 700px;
    border-radius: 20px;
    padding-left: 58px;
    box-shadow: 0 0 10px rgb(246, 238, 238);
    margin: auto;
}

.users {
    border: none;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 700px;
    border-radius: 20px;
    padding-left: 58px;
    box-shadow: 0 0 10px rgb(246, 238, 238);
    margin: auto;
}

.Grow {
    font-size: 2em;
    margin: auto;
}

.Grow p {
    padding-right: 120px;
}

.img_illus {
    width: 900px;
    height: 580px;
    margin-right: 20px;
    padding: 60px;
}

.img_Flowing {
    width: 900px;
    height: 580px;
    margin-right: 20px;
    padding: 60px;
}

.img_users {
    width: 900px;
    height: 580px;
    margin-right: 20px;
    padding: 60px;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin: 60px;
}

.btn {
    width: 800px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(246, 238, 238);
    position: relative;
    margin-top: -20px;
    bottom: -100px;
    border-radius: 40px;
    gap: 10px;
}

.btn h2 {
    font-size: 69px;
    text-align: center;
}

.btn .Started {
    width: 370px;
    margin: auto;
}


.pied_de_page {
    background-color: #002B36;
    height: 550px;
    width: 100%;
    gap: 40px;
    margin: auto;
}

.footer_ {
    display: flex;
    justify-content: start;
    height: 300px;
    padding-left: 60px;
    margin: auto;
    margin-top: 180px;
    gap: 40px;
}

.footer_ img {
    width: 178px;
    height: 320px;
    filter: brightness(0) invert(1);
}

.icons {
    display: flex;
    width: 37%;
    flex-direction: column;
    gap: 20px;
    color: #e8dfdf;
}

.icons p {
    font-size: 26px;
    color: #e8dfdf;
    margin: 0;
}

i {
    margin-right: 5px;
}

.lien {
    width: 200px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    font-size: 26px;
    line-height: 1.7;
    color: #e8dfdf;
    text-decoration: none;
    cursor: pointer;
}

.lien a:hover {
    color: #FE7ED3;
    text-decoration: underline;
}

.rond {
    display: flex;
    gap: 10px;
}

.cercle {
    width: 50px;
    height: 50px;
    border: solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.cercle i {
    font-size: 44px;
}

.cercle:hover {
    border-color: #FF80D2;
}

.copy {
    text-align: end;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

@media (max-width: 1440px) {
    .section1 {
        height: 1100px;
        background-image: url(images/bg-hero-desktop.svg);
        background-size: contain;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        width: 100%;
    }

    .main_ {
        margin: 0;
        padding: 0;
    }

    .imag_mocku {
        margin-right: 0;
    }

    .img_illus {
        margin-right: 0;
    }

    .img_Flowing {
        margin-right: 0;
    }

    .img_users {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .section1 {
        height: 800px;
        background-image: url(images/bg-hero-desktop.svg);
        background-size: contain;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        width: 100%;
    }

    .imag_mocku {
        width: 600px;
        height: 380px;
        margin: 0;
        margin-right: 50px;
    }

    .main_ {
        width: 100%;
    }

    .section2 {
        width: 100%;
    }

    .Together,
    .Flowing,
    .users {
        width: 93%;
        padding: 0;
        height: 500px;
    }

    .img_illus,
    .img_Flowing,
    .img_users {
        width: 600px;
        height: 400px;
    }

    .Grow p {
        padding: 0;
        padding-left: 40px;
        font-size: 26px;
    }

    .Grow h2 {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .footer_ {
        padding-left: 10px;
        gap: 10px;
    }

    .icons p,
    a {
        font-size: 24px;
    }

    .btn .Started {
        margin: 0;
    }

    .btn h2 {
        font-size: 2.9rem;
    }

    .comminuty h1 {
        font-size: 3em;
    }

    .comminuty p {
        font-size: 1.4em;
    }

    .huddle {
        align-items: center;
        height: 600px;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .section1 {
        background-image: url(images/bg-hero-mobile.svg);
        width: 100%;
        margin: auto;
        height: 1100px;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    .imag_mocku {
        width: 720px;
        height: 550px;
        margin: 0;
    }

    .huddle {
        display: flex;
        flex-direction: column;
        height: 960px;
        margin: auto;
    }

    .comminuty {
        width: 100%;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .comminuty h1 {
        width: 100%;
        font-size: 2.4rem;
    }

    .comminuty p {
        text-align: center;
    }

    .Together,
    .users {
        flex-direction: column-reverse;
        height: 700px;
        margin-top: 40px;
        padding: 40px;
    }

    .Flowing {
        flex-direction: column;
        height: 700px;
        margin-top: 40px;
        padding: 40px;
    }

    .btn {
        width: 660px;
        height: 300px;
    }

    .btn h2 {
        font-size: 2.5rem;

    }

    .pied_de_page {
        height: 780px;
        margin: auto;
    }

    .footer_ {
        flex-direction: column;
        gap: 20px;
    }

    .icons,
    .lien {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .rond {
        width: 100%;
        justify-content: center;
    }

    .copy {
        margin-top: 32%;
        text-align: center;
    }

    .Try {
        width: 160px;
        height: 40px;
    }

    header img {
        width: 170px;
    }

    .Grow h2 {
        text-align: center;
        font-size: 2.8rem;
    }

    .Grow p {
        text-align: center;
        width: 600px;
    }

    .img_Flowing,
    .img_illus,
    .img_users {
        width: 600px;
        height: 500px;
    }
}

@media (max-width: 425px) {
    .main_ {
        width: 100%;
    }

    .huddle {
        height: 840px;
    }

    .section1 {
        height: 990px;
    }

    .section2 {
        margin: 0;
        gap: 5px;
        height: 1610px;
    }

    .imag_mocku {
        width: 300px;
        height: 300px;
    }

    .btn {
        width: 350px;
        height: 200px;
    }

    .btn h2 {
        font-size: 1.4rem;
    }

    .btn .Started {
        width: 250px;
        height: 40px;
        font-size: 18px;
    }

    .img_illus,
    .img_users {
        width: 300px;
        height: 300px;
        padding: 0;
        padding-top: 30px;
    }

    .img_Flowing {
        width: 300px;
        height: 300px;
        padding: 0;
        padding-bottom: 40px;
    }

    .users .Grow h2,
    .Together .Grow h2 {
        padding: 15px;
    }

    .users .Grow p,
    .Together .Grow p {
        padding-bottom: 20px;
    }

    .Flowing .Grow h2 {
        padding: 20px;
    }

    .Grow h2 {
        font-size: 1.7rem;
        width: 100%;
        padding: 0;
    }

    .Grow p {
        font-size: 22px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .Together,
    .Flowing,
    .users {
        width: 360px;
        height: 500px;
        padding: 0;
    }

    .icons p {
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }

    .lien a {
        font-size: 20px;
    }

    .copy {
        text-align: center;
        margin-top: 52%;
        font-size: 20px;
    }

    .rond {
        width: 90%;
    }
}

@media (max-width: 375px) {
    .bouton .Started {
        margin-top: 23px;
    }

    .Grow h2 {
        font-size: 26px;
    }

    .Grow p {
        font-size: 20px;
        margin-bottom: 20px;
        color: #6b6868;
    }

    .section1 {
        height: 1000px;
    }

    .section2 {
        margin-top: 0;
        height: 1460px;
    }

    .huddle {
        gap: 70px;

    }

    .btn {
        width: 294px;
        height: 150px;
        margin-top: 100px;
    }

    .copy {
        margin-top: 65%;
    }
}

@media (max-width: 320px) {

    .Together,
    .Flowing,
    .users,
    .btn {
        width: 300px;
    }

    .section1 {
        height: 980px;
    }

    .imag_mocku {
        width: 250px;
        height: 200px;
        margin-top: 20px;
    }

    .bouton {
        width: 230px;
    }

    .bouton .Started {
        font-size: 20px;
    }

    .btn {
        width: 280px;
        height: 150px;
        margin-top: 100px;
    }

    .btn h2 {
        font-size: 22px;
        text-align: center;
    }

    .btn .Started {
        width: 200px;
    }

    .Flowing .Grow h2 {
        padding: 20px;
    }

    .Flowing .Grow p {
        margin-bottom: 0;
    }

    .users .Grow h2,
    .Together .Grow h2 {
        padding: 15px;
    }

    .copy {
        margin-top: 75%;
    }

}